@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
$segoe: "Segoe UI", "Open Sans", Helvetica, sans-serif;
$segoe-semibold: "Segoe UI Semibold", "Open Sans", Helvetica, sans-serif;
$segoe-bold: "Segoe UI Bold", "Open Sans", Helvetica, sans-serif;
$segoe-light: "Segoe UI Light", "Open Sans", Helvetica, sans-serif;
