@import "../../styles/imports";
// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    .bar {
        // height: 60px;
        width: 100%;
        background-color: $primary;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 120px 15px 60px;
        img {
            height: 35px;
        }

        @media (max-width: $large) {
            padding: 10px 20px;
        }
        .navSection {
            display: flex;
            width: 80%;
            max-width: 1050px;
            // opacity: 0.8;
            justify-content: space-between;
            // font-family: "Roboto";
            font-size: 16px;
            @media (max-width: $medium) {
                display: none;
            }
            @media (max-width: $large) {
                font-size: 14px;
            }
        }
        .NavLink {
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
        }
        .NavLinkActive {
            color: $secondary;
            // text-decoration: underline;
        }
    }

    .mobileMenuIndi {
        display: none;
        @media (max-width: $medium) {
            display: block;
        }
        .icon {
            font-size: 30px;
            color: $secondary;
        }
    }
    .mobileMenu {
        display: none;
        @media (max-width: $medium) {
            display: block;
        }
        // background-color: rgba($primary, 0.7);
        // opacity: 0.5;
        // -webkit-backdrop-filter: blur(40px);
        // backdrop-filter: blur(40px);
        // height: 100%;
        overflow: hidden;
        background-color: rgba($white, 0);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        transition: all 0.4s ease-in-out;
        .navSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            padding: 0px 0;
            background-color: rgba($white, 0.7);
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
        }
        .NavLink {
            text-transform: uppercase;
            color: $black;
            text-decoration: none;
            padding: 10px 0;
            text-align: center;
            width: 100%;
            border-bottom: 1px solid rgba($black, 0.2);
        }
        .NavLinkActive {
            color: #3f8308;
            // background-color: rgba($white, 0.8);
        }
    }
}
