@import "../../styles/imports";

.Footer {
    background-color: $secondary;
    padding: 80px 0 60px;
    color: $black;
    .wrapper {
        margin: 0 auto;
        max-width: 1100px;
    }
    .flexContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 60px;
        // grid-gap: 20px;
        @media (max-width: $medium) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $small) {
            grid-template-columns: 1fr;
        }
    }
    .block {
        // width: 300px;
        text-align: center;
    }
    // .socialLinks {
    //     font-size: 48px;
    //     display: flex;
    //     justify-content: center;
    //     svg {
    //         margin: 0 20px;
    //     }
    // }
}
