@import "../../styles/imports";

$arrowSize: 60px;
$buttonOfset: -60px;
@media (max-width: $large) {
    $buttonOfset: -60px;
}
.StyledSlider {
    padding: $arrowSize - $buttonOfset/2;
    // max-height: 70vh;
    // width: auto;
    max-width: 800px;
    margin: 0 auto;
    @media (max-width: $large) {
        margin-top: 100px;
        padding: 40px;
    }
    @media (max-width: $small) {
        margin-top: 100px;
        padding: 0px;
    }
    .flexBox {
        box-shadow: 5px 5px 10px #c2c2c2;
        position: relative;
    }
    .buttonBack,
    .buttonNext {
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: $arrowSize;
        font-weight: lighter;
        color: rgba($black, 0.3);
        transition: all 0.1s ease-in-out;
        z-index: 100;
        @media (max-width: $large) {
            // text-shadow: 10px 10px 6px #000000;
            filter: drop-shadow(5px 5px 5px#000000);
            font-size: 80px;
            color: rgba($white, 1);
        }
        @media (max-width: $small) {
            font-size: 80px;
            color: rgba($white, 1);
        }
        // mix-blend-mode: difference;
        &:hover {
            color: rgba($secondary, 1);
        }
    }

    .buttonBack {
        left: $buttonOfset;
        @media (max-width: $small) {
            left: 10px;
        }
    }
    .buttonNext {
        right: $buttonOfset;
        @media (max-width: $small) {
            right: 10px;
        }
    }
    .imageSlide {
        // padding: 20px;
        .imgSlide {
            box-shadow: 10px 10px 13px rgba(#000000, 0.25);
        }
    }
}
