@import "../../styles/imports";
.bgNR {
    background-image: url("../../assets/bgStriped.png");
    @media (max-width: $medium) {
        background-image: none;
        // background-size: 100%;
    }
}
.Ofert {
    .container {
        // min-height: 100vh;
        padding-top: 120px;
        // padding-left: 20px;
        // padding-right: 20px;
        max-width: 750px;
        margin: 0 auto;
        // padding-bottom: 50px;
        .block {
            // text-align: center;
            padding: 0 0px;
            font-size: 24px;
            font-style: italic;
            color: #ababab;
            margin-bottom: 50px;
            @media (max-width: $large) {
                font-size: 18px;
                margin-bottom: 0;
                padding: 0 20px;
            }
        }
        @media (max-width: $medium) {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            margin-top: 80px;
            width: 100%;
            max-width: 100%;
        }
    }
    h1 {
        margin: 0;
        line-height: 1;
        @media (max-width: $large) {
            padding: 0 20px;
        }
    }
    h2 {
        line-height: 1;
    }
    .brandP {
        margin-top: 80px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 40px !important;
        // display: none;
        color: #7a7a7a !important;
    }
    .brands {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: center;
        padding-bottom: 150px;
        @media (max-width: $large) {
            padding-left: 40px;
            padding-right: 40px;
        }
        @media (max-width: $medium) {
            grid-row: auto auto;
        }
        .BrandLogo {
            // max-width: 150px;
            height: 40px;
            @media (max-width: $medium) {
                height: auto;
                width: 40%;
            }
        }
        img {
            // width: 100%;
            height: 100%;
            @media (max-width: $medium) {
                height: auto;
                width: 100%;
            }
        }
    }
}
